
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hexagon shape using clip-path */
.clip-hexagon {
    clip-path: polygon(
      25% 6.7%, 75% 6.7%,
      100% 50%, 75% 93.3%,
      25% 93.3%, 0% 50%
    );
  }
 
  @keyframes pulseLoopRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .animate-pulse-loop-right {
    animation: pulseLoopRight 3s linear infinite;
  }
  
